<!DOCTYPE html>

<html>
  <head>
    <title>Traveler - 擲出命運骰子</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="assets/css/noscript.css"
    /></noscript>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body class="right-sidebar is-preload">
    <div id="page-wrapper">
      <!-- Header -->
      <div id="header">
        <!-- Inner -->
        <div class="inner">
          <header>
            <h1><a href="index.html" id="logo">擲出屬於你的旅程</a></h1>
          </header>
        </div>

        <!-- Nav -->
        <nav id="nav">
          <ul>
            <li><a href="index.html">首頁</a></li>
            <li><a href="./planner.html">智慧旅行排程</a></li>
            <li><a href="./fate_dice.html">命運骰子</a></li>
            <li><a href="./emotion.html">情緒導向推薦</a></li>
          </ul>
        </nav>
      </div>

      <!-- Main -->

      <div class="wrapper style1">
        <div class="container">
          <div class="row gtr-200">
            <div class="col-8 col-12-mobile" id="content">
              <article id="main" class="special">
                <div class="emotiondate">
                  <div class="dateheader">
                    <h2><i class="fa-solid fa-arrow-right"></i>&nbsp;Step 1</h2>
                    <br />
                  </div>
                  <form id="customScheduleForm" class="row gtr-50">
                    <div class="col-12">
                      <label for="datechosen" class="form-label"
                        >選擇縣市 &nbsp;<i class="fa-solid fa-city"></i
                      ></label>
                      <select id="datechosen" class="form-select" required>
                        <option value="">-- 請選擇 --</option>
                        <option value="keelung">基隆</option>
                        <option value="taipei">台北</option>
                        <option value="new_taipei">新北</option>
                        <option value="taoyuan">桃園</option>
                        <option value="hsinchu_city">新竹</option>
                        <option value="miaoli">苗栗</option>
                        <option value="taichung">台中</option>
                        <option value="changhua">彰化</option>
                        <option value="nantou">南投</option>
                        <option value="yunlin">雲林</option>
                        <option value="chiayi_city">嘉義</option>
                        <option value="tainan">台南</option>
                        <option value="kaohsiung">高雄</option>
                        <option value="pingtung">屏東</option>
                        <option value="yilan">宜蘭</option>
                        <option value="hualien">花蓮</option>
                        <option value="taitung">台東</option>
                      </select>
                    </div>
                  </form>
                </div>
              </article>
              <hr />
              <article id="main">
                <header>
                  <div class="emotiondate">
                    <div class="dateheader">
                      <h2>
                        <i class="fa-solid fa-arrow-right"></i>&nbsp;Step 2
                      </h2>
                      <br />
                      <h3>
                        等待骰子結束運行後將提供您一個旅遊主題&nbsp;<i
                          class="fa-solid fa-dice"
                        ></i>
                      </h3>
                    </div>
                  </div>
                </header>
                <br /><br />
                <section>
                  <div class="dice-container">
                    <div class="scene">
                      <div class="cube">
                        <div
                          class="cube__face cube__face--front"
                          data-result="美食之旅"
                        >
                          <img
                            src="../static/images/S__80920580_0.jpg"
                            alt="美食之旅"
                          />
                        </div>
                        <div
                          class="cube__face cube__face--back"
                          data-result="自然風景"
                        >
                          <img
                            src="../static/images/S__80920581_0.jpg"
                            alt="自然風景"
                          />
                        </div>
                        <div
                          class="cube__face cube__face--right"
                          data-result="文化歷史"
                        >
                          <img
                            src="../static/images/S__80920582_0.jpg"
                            alt="文化歷史"
                          />
                        </div>
                        <div
                          class="cube__face cube__face--left"
                          data-result="冒險活動"
                        >
                          <img
                            src="../static/images/S__80920583_0.jpg"
                            alt="冒險活動"
                          />
                        </div>
                        <div
                          class="cube__face cube__face--top"
                          data-result="購物娛樂"
                        >
                          <img
                            src="../static/images/S__80920584_0.jpg"
                            alt="購物娛樂"
                          />
                        </div>
                        <div
                          class="cube__face cube__face--bottom"
                          data-result="休閒放鬆"
                        >
                          <img
                            src="../static/images/S__80920585_0 (1).jpg"
                            alt="休閒放鬆"
                          />
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="dice-result" id="resultBox">
                      <h3>您的旅遊主題為：</h3>
                      <br />
                      <div class="diceinner">
                        <div id="resultLabel"></div>
                      </div>
                      <div class="Start">
                        <button class="startButton">點擊開始</button>
                      </div>
                    </div>
                  </div>
                </section>
                <hr />
                <div class="startRec">
                  <button type="submit" class="startRec">開始推薦</button>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div id="footer">
      <div class="container">
        <!-- Contact -->
        <section class="contact">
          <header>
            <h3>聯絡我們</h3>
          </header>
          <p>若有任何問題，非常歡迎您透過以下管道聯繫我們</p>
          <ul class="icons">
            <li>
              <a href="#" class="icon brands fa-facebook-f"
                ><span class="label">Facebook</span></a
              >
            </li>
            <li>
              <a href="#" class="icon brands fa-instagram"
                ><span class="label">Instagram</span></a
              >
            </li>
          </ul>
        </section>

        <!-- Copyright -->
        <div class="copyright">
          <ul class="menu">
            <li>&copy; Untitled. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="../static/js/cube.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.158.0/build/three.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.dropotron.min.js"></script>
    <script src="../static/js/jquery.scrolly.min.js"></script>
    <script src="../static/js/jquery.scrollex.min.js"></script>
    <script src="../static/js/browser.min.js"></script>
    <script src="../static/js/breakpoints.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/main.js"></script>
  </body>
</html>
