{% load static %}
<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <title>登入</title>
    <link rel="stylesheet" href="../static/css/login.css" />
  </head>
  <body>
    <div class="login-container">
      <h2>登入</h2>

      <form method="POST" action="/login/">
        {% csrf_token %}
        <input type="text" name="username" placeholder="帳號" required />

        <div class="password-wrapper">
          <input
            type="password"
            name="password"
            placeholder="密碼"
            id="password"
            required
          />
        </div>

        <button type="submit" class="login-btn">登入</button>

        <div class="links">
          <a href="/register/">註冊</a>
        </div>
      </form>
    </div>

    <script src="../static/js/login.js"></script>
  </body>
</html>
