{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>推薦結果</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">  
    <noscript
      ><link rel="stylesheet" href="assets/css/noscript.css"
    /></noscript>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>

    <!-- 匯出 PDF 套件 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

  <!-- 匯出 PDF 功能 -->
  <script>
    function exportPDF() {
      const element = document.getElementById("resultContainer");
      const opt = {
        margin: 0.5,
        filename: "我的旅行行程.pdf",
        image: { type: "jpeg", quality: 0.98 },
        html2canvas: { scale: 2 },
        jsPDF: { unit: "cm", format: [21, 90], orientation: "portrait" },
        pagebreak: { mode: ["css", "legacy"] },
      };
      html2pdf().set(opt).from(element).save();
    }
  </script>

  <body class="no-sidebar is-preload">
    <div id="page-wrapper">
      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="/">首頁</a></li>
          <li><a href="/planner/">智慧旅行排程</a></li>
          <li><a href="/fate_dice/">命運骰子</a></li>
          <li><a href="/emotion/">情緒導向推薦</a></li>
        </ul>
      </nav>

     <div class="wrapper style1">
  <article id="main" class="special">
    <header class="major">
      <h2>推薦行程</h2>
      <p>
        <i class="fa-solid fa-location-dot"></i>&nbsp;這是您的客製化行程
      </p>
    </header>
  </article>

  <div style="text-align: center; margin-top: -1.5em; margin-bottom: 1em;">
    <a
      class="button" 
      onclick="exportPDF()"
      > 匯出 PDF
    </a>
  </div>  

  <div class="re-box">
    <div class="re-container" id="resultContainer">
      <!-- JS 會在這裡動態插入第1~第N天的行程 -->
    </div>
  </div>
</div>



      <!-- Footer -->
      <div id="footer">
        <div class="container">
          <section class="contact">
            <header>
              <h3>TRAVELER</h3>
            </header>
            <p>輕踏塵土，細數星辰與夢</p>
          </section>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'js/browser.min.js' %}"></script>
    <script src="{% static 'js/breakpoints.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/plannerResult.js' %}"></script>

  </body>
</html>